@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.change-color {
    color: #fff;
}

.dateRange {
    color: #000;
    display: flex;
}

.slick-slider button::before {
    color: #000;
}

.slick-slider .slick-next {
    top: 40%;
}

.slick-slider .slick-prev {
    top: 40%;
}

body {
    font-family: "League Spartan", sans-serif;
    ;
}

.logo-head {
    font-family: "Poetsen One", sans-serif;
    margin: 40px auto;
    letter-spacing: 5px;
    color: #10439F;
    text-shadow: 3px 2px 1px #59a3e9bb, 
                1px 1px 15px #eef5ff;
}


.hero-flight-image {
    background-image: url('./assets//flights/heroImg.png');
    background-repeat: no-repeat no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-position-x: center;
}
.hero-cruise-image {
    background-image: url('./assets/cruise/hero-img.png');
    background-repeat: no-repeat no-repeat;
    background-position: left;
    background-size: 100% 100%;
}

